<div id="menu-container" class="menu-container">
  <button id="menu-button" routerLink="home" routerLinkActive="active" class="btn btn-light fa fa-home"></button>
  <div id="menu-content">
    <ul>
        <li routerLink="profile" routerLinkActive="active" class="list-group-item">
            profile
          </li>
        <li routerLink="experience" routerLinkActive="active" class="list-group-item">
          experience
        </li>
        <li routerLink="technologies" routerLinkActive="active" class="list-group-item">
          technologies
        </li>
        <li routerLink="projects" routerLinkActive="active" class="list-group-item">
          projects
        </li>
        <li routerLink="contact" routerLinkActive="active" class="list-group-item">
          contact
        </li>
      </ul>
  </div>
</div>