<div id="menu-container" class="menu-container">
  <button id="menu-button" routerLink="home" routerLinkActive="active" class="btn btn-light fa fa-home"></button>
  <div id="menu-content">
    <ul>
        <li routerLink="profile" routerLinkActive="active" class="list-group-item">
          <i class="fa fa-user"></i> &nbsp;profile
          </li>
        <li routerLink="experience" routerLinkActive="active" class="list-group-item">
          <i class="fa fa-tasks"></i>&nbsp;experience
        </li>
        <li routerLink="technologies" routerLinkActive="active" class="list-group-item">
          <i class="fa fa-microchip"></i>&nbsp;technologies
        </li>
        <li routerLink="projects" routerLinkActive="active" class="list-group-item">
          <i class="fa fa-briefcase"></i>&nbsp;projects
        </li>
        <li routerLink="contact" routerLinkActive="active" class="list-group-item">
          <i class="fa fa-id-card"></i>&nbsp;contact
        </li>
      </ul>
  </div>
</div>