<div class="component-container profile-container">
  <div class="content-center container">
    <h1>Profile</h1>
    <h5>I'm a curious web developer</h5>
    <hr>
    <div class="row">
      <div class="col-md-4 text-left">
        <h3>About me</h3>
        <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div class="col-md-4">
        <img style="border-radius: 50%;width:300px;height:300px" src="assets/u-w-bg.jpg" alt="">
      </div>
      <div class="col-md-4 text-left">
        <h3>Details</h3>
        <b>Name:</b>
        <p>Mariano Palliser Muñoz</p>
        <b>Age:</b>
        <p>29 years</p>
        <b>Location:</b>
        <p>Palma de Mallorca, Balearic Island, Spain</p>
        <b>Social media:</b>
        <div style="font-size:40px">
          <i class="fa fa-instagram"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-envelope-open"></i>
        </div>
      </div>
    </div>
  </div>
</div>